[Unit]
Description = Payshare Spring Boot + Postgres

[Service]
WorkingDirectory = /home/ubuntu/docker-spring-postgres/setup/
ExecStart = /bin/bash init.sh
Restart=on-failure

[Install]
WantedBy = multi-user.target
