[Unit]
Description = Payshare Spring Boot + Postgres

[Service]
WorkingDirectory = /home/ec2-user/docker-spring-postgres/setup/
ExecStart = ./init.sh
Restart=on-failure

[Install]
WantedBy = multi-user.target